/* Tailwind CSS Base */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: StockPort-Brush;
  font-family: StockPort-Extra;
  font-family: Lato;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 65ch;
}

header,
footer,
main,
section,
article {
  container-type: inline-size;
}
